@(books : Set[Book])
@layout("Todos los libros"){

		<h1>Todos los libros</h1>
	
	@for(book <- books){
		<a href="@routes.BooksController.show(book.id)">@book.title</a>
		<p>Precio: @book.price</p>
		<p>Autor: @book.author</p>
		
	}
	
	<a href="@routes.BooksController.create()">Agregar libro</a>


}