@(book:Book)
@layout(book.title){

	<h1>@book.title</h1>
		<p>Precio: @book.price $</p>
		<p>Autor: @book.author</p>
		
		<a href="@routes.BooksController.edit(book.id)">Editar</a>
		<a href="@routes.BooksController.destroy(book.id)">Eliminar</a>

}
